In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, we will explore various tools and libraries used in data science. We will also demonstrate a few basic arithmetic operations using Python.

In [ ]:
## Commonly Used Languages in Data Science:
- Python
- R
- SQL
- Julia
- Scala

In [ ]:
## Popular Data Science Libraries:
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras

In [ ]:
## Data Science Tools

Category           Tool           
Data Integration-  Apache NiFi    
Data Analysis-     Jupyter Notebook 
Machine Learning- TensorFlow     
Visualization-     Power BI

In [ ]:
## Examples of Arithmetic Expressions in Python
The following code examples will demonstrate how to perform basic arithmetic operations such as addition and multiplication.

In [ ]:
# This will multiply 3 by 4 and then add 5
(3 * 4) + 5

In [ ]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

In [ ]:
## Objectives:
- List languages used in Data Science
- Identify popular libraries
- Explore development environments
- Perform basic arithmetic operations in Python
- Convert time units using code

In [ ]:
Author: Maansi Tripathi